<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe App</title>
</head>
<body>
<h1 th:text="'My Recipies'"></h1>
<table>
    <thead>
    <th>ID</th>
    <th>Description</th>
    <th>Prep Time</th>
    <th>Cook Time</th>
    <th>Servings</th>
    <th>Source</th>
    <th>Url</th>
    <th>Directions</th>
    <th>Difficulty</th>
    <th>Ingredients</th>
    <th>Notes</th>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.getId()}"></td>
        <td th:text="${recipe.getDescription()}"></td>
        <td th:text="${recipe.getPrepTime()}"></td>
        <td th:text="${recipe.getCookTime()}"></td>
        <td th:text="${recipe.getServings()}"></td>
        <td th:text="${recipe.getSource()}"></td>
        <td th:text="${recipe.getUrl()}"></td>
        <td th:text="${recipe.getDirections()}"></td>
        <td th:text="${recipe.getDifficulty()}"></td>
        <td th:each="ingredient : ${recipe.ingredients}"
            th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.getUnitOfMeasure().getDescription() +
                                        ' - ' + ingredient.getDescription())}">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>